
@import "colors.css";

html {
  background-color: $c-p1-gray;
  height: 100%;
  /* font-family: "Droid Sans", verdana, helvetica, sans-serif; */
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 1.5;
  body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    * {
      box-sizing: border-box;
    }
  }
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: $c-green1;
  border: 0;
  border-radius: 2px;
  font-size: 1.2rem;
  color: white;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    background-color: color($c-green1 lightness(40%));
  }
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
