
@import "../../colors.css";

.Menu {
  flex: 1 1;
  min-width: 300px;
}

.MenuItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 600;
  font-size: 2rem;
  text-decoration: none;
  color: $c-p1-green;
  min-width: 50px;
  border-radius: 3px;
  background-color: $c-green1;
  & + & {
    margin-top: 4px;
  }
}
