
@import '../../colors.css';

.Menu {
  flex: 1 1;
  min-width: 600px;
}

.MenuItem {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 3rem;
  text-decoration: none;
  color: $c-gray50;
  border-radius: 3px;
  background-color: color($c-gray1 a(50%));
  &:hover {
    background-color: color($c-gray1 a(50%) lightness(20%));
  }
  & + & {
    margin-top: 4px;
  }
}
