
@import '../../colors.css';

.DemosPage {
  min-height: 100px;
  padding: 2rem;
  min-height: 100vh;
  display: flex;

  &__Left {
    width: 200px;
    height: 100%;
  }

  &__Main {
    flex: 1 1;
    height: 100%;
  }

  &__Header {
    font-size: 3rem;
  }

  &__Widgets {
    display: flex;
  }

  &__Widget + &__Widget {
    margin-left: 20px;
  }
}
