
@import '../../colors.css';

.HomePage {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  &__Header {
    @extend fat-header;
    flex: none;
    font-size: 4rem;
    font-weight: 600;
  }

  .Menu {
    flex: 1 1;
    min-width: 450px;
  }
}
