
@import '../../colors.css';

.SignOutPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-image: url('https://c2.staticflickr.com/4/3922/15296056905_0838192dd4_b.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__Header {
    @extend fat-header;
    margin-bottom: 1rem;
  }
}
